@mixin center-corner-cuts {
  --center-corner-cut-size: 15%;

  &.is-center-corner-bottom-right {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--center-corner-cut-size)),
      calc(100% - var(--center-corner-cut-size)) 100%,
      0 100%
    );
  }

  &.is-center-corner-bottom-left {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      var(--center-corner-cut-size) 100%,
      0 calc(100% - var(--center-corner-cut-size))
    );
  }

  &.is-center-corner-top-right {
    clip-path: polygon(
      0 0,
      calc(100% - var(--center-corner-cut-size)) 0,
      100% var(--center-corner-cut-size),
      100% 100%,
      0 100%
    );
  }

  &.is-center-corner-top-left {
    clip-path: polygon(
      var(--center-corner-cut-size) 0,
      100% 0,
      100% 100%,
      0 100%,
      0 var(--center-corner-cut-size)
    );
  }
}
